/*
    Sam's Autobody & Performance
    Filename: styles.css
    Author:   Samuel Vehige
    Date:     02/28/2025
*/ 

/* Reset Styles */
html {
    font-size: 14;
}
a, article, body, div, footer, header, h1, h2, h3, h4, nav, p {
    border: 0;
    padding: 0;
    margin: 0;
}

/* body */
body {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #676767;
    font-family: Arial, 'Times New Roman';
}
.links {
    background-color: #000000;
    color: #ffffff;
    position: relative;
    border: 2px solid #ffffff;
    
}
.links p {
    display: inline-block;
    margin: 1em;
}
.links a {
    text-decoration: none;
    color: #ffffff;
}
h1.Sam_title {
    background-color: #ffffff;
    border: 4px solid #000000;
}
/* article .about_us {
    background-color: #ffffff;
    color: #000000;
    border: 4px solid #000000;
    clear: both;
    overflow: auto;
    width: 100%;
    float: left;
} */
/* aside {
    width: 230px;
    float: left;
    padding: 0px 0px 0px 20px;
    
}
aside section img {
    display: block;
    padding: 10px;
    border-bottom: 1 px solid #ffffff;
} */

/* skip navigation link */
p.sitenavigation a {
    position: absolute;
    left: -100000;
}
p.sitenavigation a:focus {
    color: #ffffff;
    background-color: #000000;
    top: 0.2em;
    left: 0.4em;
    z-index: 2;
}
/* site navigation bar */
nav.sitenavigation {
    /*width: 19%; */
    /*padding: 3%; */
    /*float: left;*/ 
    color: #ffffff;
    text-align: center;
}
 nav.sitenavigation p {
     display: inline-block;
     margin: 0.5em;
 }
 
 nav.sitenavigation a:link {
     text-decoration: none;
     color: #ffffff;
 }
 
 nav.sitenavigation a:visited {
     color: #ffffff;
 }
 
 nav.sitenavigation a:hover, nav.sitenavigationa:focus {
     color: #ffffff;
 }

/* Footer */
/* footer {
    padding: 0.6em;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    /*clear: both;
 } */
 footer p {
    margin: 0.4em;
    border: 2px solid #ffffff;
 } */
 .accent {
    font-weight: bold;
 }
 section.courses {
    float: left;
    width: 659px;
    border-right: 1px solid #eeeeee;
    background-color: #ffffff;
}
article {
    clear: both;
    overflow: auto;
    width: 100%;
}
hgroup {
    margin-top: 40px;
}
figure {
    float: left;
    width: 290px;
    height: 220px;
    padding: 5px;
    margin: 20px;
    border: 1px solid #eeeeee;
}
figcaption {
    font-size: 90%;
    text-align: left;
}
aside {
    width: 320px;
    float: left;
    padding: 0px 0px 0px 20px;
    background-color: #000000;
}
aside section a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eeeeee;
}

aside section img{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

aside section a:hover {
    color: #985d6a;
    background-color: #efefef;
}
a {
    color: #de6581;
    text-decoration: none;
}
h1, h2, h3 {
    font-weight: normal;
}
h2 {
    margin: 10px 0px 5px 0px;
    padding: 0px;
}
h3 {
    margin: 0px 0px 5px 0px;
    color: #de6581;
}
aside h2 {
    padding: 30px 0px 10px 0px;
    color: #de6581;
}

/* footer section */
footer {
    font-size: 80%;
    padding: 7px 0px 0px 20px;
    background-color: #ffffff;
}